	body {
		font-family: 'Lato', Helvetica Nueue, sans-serif;
		text-align: center;
		display:block;
		font-size: 18px;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		width: 80%
	}
	h1 {
		font-size: 80px;
		font-weight: 300;
	}
	h1 a { 
		text-decoration:none; 
		color:#000;
	}
	h2 {
		font-size: 30px;
		font-weight: 100;
		color: #B0B0B0;
	}
	p {
		padding: 5px;
	}
	.author {
		padding:20px;
		display:inline-block;
		margin-left:auto;
		margin-right:auto;
		width:auto;
	}
	.portrait {
		width: 120px;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
	}
	section.code {
		text-align:left;
		font-size: 14px;
		margin-left:auto;
		margin-right:auto;
		width:50%;
	}

	.sortable {
		margin: auto;
		padding: 0;
		width: 310px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	li {
		list-style: none;
		border: 1px solid #CCC;
		background: #E0DEDF;
		color: #FF3300;
		font-size: 24px;
		margin: 10px;
		padding: 5px;
		height: 38px;
		width: 280px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	li.disabled {
		opacity: 0.5;
	}
	li.inMotion {
		position:relative;
		z-index: 1;
		opacity: .7;
		box-shadow: 0 3px 7px rgba(0,0,0,.3);
	}
	hr {
		height: 3px;
		border: 0;
		background-color: #c3c3c3;
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f7f6f4), to(#f7f6f4), color-stop(50%, #fff));
		background-image: -webkit-linear-gradient(left, #f7f6f4, #fff, #f7f6f4);
		background-image: -moz-linear-gradient(left, #f7f6f4, #fff, #f7f6f4);
		background-image: -ms-linear-gradient(left, #f7f6f4, #fff, #f7f6f4);
		background-image: -o-linear-gradient(left, #f7f6f4, #fff, #f7f6f4);
	}
	hr::after {
		content: '';
		display: block;
		height: 1px;
		background-color: #ffffff;
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f7f6f4), to(#f7f6f4), color-stop(50%, #c3c3c3));
		background-image: -webkit-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4);
		background-image: -moz-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4);
		background-image: -ms-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4);
		background-image: -o-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4);
	}